@import url(https://fonts.googleapis.com/css?family=Righteous);
@font-face {
  font-family: "Open San";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("https://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

body {
  font-family: "Source Code Pro", sans-serif;
}

header{
  align: center;
}

h1{
  text-align: center;
}

h2 {
  margin-top: 3em;
  color: grey;
}

h2:first-child {
  margin-top: 0;
}

p{
  font-family: Verdana, Geneva, sans-serif;
}

#list{
  display: inline-flex;
  align-self: flex;
  flex-wrap: wrap;
  justify-content: base-line;

  opacity: 1;
}

.catBreed{
  width: calc(33% - 50px);
  margin: 20px;
  padding: 5px;

  border-radius: 5px;
  background-color: #fcf9f7;
}

.catBreed:hover{
  background-color: #e8e1dc;
}

.imgCat{
  display:block;
  width:100%;
  max-width:600px;
  height: auto;
  max-height: 300px;
}

.imgFlag{
  width: 30px;
  height: auto;
}

.catBreed p{
  margin-left: 10px;
  margin-right: 10px;
}

.border-button {
  padding: 0 0 20px 0;

  transition: border-width 0.6s linear;

  border-bottom: solid 5px #e8e1dc;
}

.border-button:hover { border-width: 10px; }

.wrap {
  padding: 10% 20%;
}
